@import url("https://fonts.googleapis.com/css2?family=Exo:wght@200;400;500&family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.newsletter__text-input, .feedback__text, .feedback__subtitle, .feedback__title, .footer__links, .footer__text, .footer__title, .header__text, .red-button, .hint .hint__text, .form::after, .form__text-input, .text, .subtitle, .title {
  font-family: "Exo", sans-serif;
}

.title {
  color: #282828;
}
.title .title__text {
  font-size: 40px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 2px;
}
.title .title__text span {
  color: #ff6d6d;
}
@media screen and (max-device-width: 425px) and (orientation: portrait) {
  .title {
    text-align: center;
  }
}

.subtitle {
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 18px;
  color: #ff6d6d;
  font-weight: 500;
  text-transform: uppercase;
}
@media screen and (max-device-width: 425px) and (orientation: portrait) {
  .subtitle {
    text-align: center;
  }
}

.text {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 26px;
  color: #282828;
  font-weight: 500;
}

.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.form__text-input {
  width: 22%;
  height: 50px;
  background-color: #464c77;
  border-radius: 3px;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 75px;
  font-weight: 400;
  color: #fff;
  padding: 1% 30px;
  outline: none;
}
.form__text-input::placeholder {
  color: #fff;
  text-transform: uppercase;
}
.form__text-input:focus {
  background-color: #f6f5f3;
  color: #282828;
  box-shadow: 0px 0px 10px #f6f5f3;
}
.form__text-input:focus::placeholder {
  color: #282828;
}
.form__button {
  width: 22%;
  height: 50px;
}
.form::before {
  content: "";
  background: url("../images/elements/arrow.svg") no-repeat;
  background-size: cover;
  position: absolute;
  right: 19%;
  top: -20px;
  width: 40px;
  height: 40px;
  display: block;
  fill: #fff;
}
.form::after {
  content: "30 days free trial for all";
  position: absolute;
  color: #f6f5f3;
  right: 5%;
  top: -50px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 75px;
}
@media screen and (max-device-width: 425px) and (orientation: portrait) {
  .form {
    flex-direction: column;
  }
  .form__text-input, .form__button {
    width: 100%;
  }
  .form::after, .form::before {
    display: none;
  }
}

.hint {
  letter-spacing: 1px;
  font-weight: 400;
}
.hint .hint__text {
  text-align: center;
}

.play-btn {
  height: 60px;
  width: 60px;
}
.play-btn a {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.play-btn__circle {
  background: url("../images/elements/play_circle.svg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.play-btn__arrow {
  width: 15px;
  height: 20px;
  background: url("../images/elements/play_arrow.png") no-repeat;
}
.play-btn:hover {
  border-radius: 50%;
  box-shadow: 0px 0px 20px #8185a3;
}

.red-button {
  text-transform: uppercase;
  background-color: #ff6d6d;
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 50px;
  color: #fff;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  outline: 0;
}
.red-button:hover {
  box-shadow: 0px 0px 10px #ff6d6d;
  text-shadow: 0px 0px 3px #fff;
}

.socials {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}
.socials__inner {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
.socials__item {
  width: calc(100% / 5);
  height: 100%;
}
.socials__item img {
  margin: 0 auto;
}

.header {
  width: 100%;
  min-height: 965px;
  background: url("../images/backgrounds/mountain.png") no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header__inner {
  width: 745px;
  min-height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.header__title {
  width: 100%;
}
.header__text {
  font-size: 60px;
  letter-spacing: 2px;
  line-height: 75px;
  color: #282828;
  font-weight: 200;
  text-align: center;
}
.header__play {
  margin-top: 65px;
}
.header__try-button {
  width: 190px;
  height: 50px;
  margin-top: 40px;
}
.header__try-button a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.header__hint {
  margin-top: 20px;
}
.header__hint .hint__text {
  font-size: 14px;
  line-height: 16px;
  color: #282828;
}

@media screen and (max-device-width: 425px) and (orientation: portrait) {
  .header {
    min-height: 860px;
    background-position: right bottom;
  }
  .header__inner {
    min-height: 700px;
  }
}
.footer {
  width: 100%;
  min-height: 330px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.footer__background {
  background-color: #fff;
  width: 100%;
  min-height: 330px;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.footer__triangle {
  width: 550px;
  min-height: 500px;
  background-color: #ff6d6d;
  position: absolute;
  right: 0;
  opacity: 0.8;
  transform: rotate(38deg) translateY(-360px) translateX(0px);
}
.footer__body {
  width: 66%;
  height: 170px;
  z-index: 2;
  margin-left: 12.5%;
  display: flex;
  flex-direction: row;
  justify-content: unset;
  align-items: stretch;
}
.footer__body .start-ex {
  width: 22%;
  font-size: 27px;
}
.footer__body .support {
  width: 13%;
  font-size: 22px;
  margin-left: 8%;
}
.footer__body .about-us {
  width: 12%;
  font-size: 22px;
  margin-left: 7%;
}
.footer__body .newsletter {
  width: 27%;
  font-size: 22px;
  margin-left: 6%;
}
.footer__column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
.footer__title {
  font-size: inherit;
  line-height: 33px;
  color: #2c2f49;
  font-weight: 400;
}
.footer__title h2 {
  font-size: inherit;
  font-weight: inherit;
}
.footer__title span {
  color: #fff;
  z-index: 2;
  position: relative;
}
.footer__title span::after {
  content: "";
  display: block;
  width: 45px;
  height: 45px;
  position: absolute;
  right: -15px;
  top: -4px;
  z-index: -1;
  background: url("../images/elements/red_triangle.png") no-repeat;
  background-size: contain;
}
.footer__text {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 26px;
  color: #282828;
  font-weight: 500;
}
.footer__links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 30px;
  font-weight: 400;
}
.footer__links a {
  text-decoration: none;
  color: #282828;
}
.footer__links a:hover {
  text-decoration: underline;
}
.footer__text, .footer__links, .footer .newsletter__email {
  margin-top: 15px;
}
@media screen and (max-device-width: 425px) and (orientation: portrait) {
  .footer__body {
    flex-direction: column;
    width: 100%;
    height: auto;
    text-align: center;
    margin-left: 0px;
    padding: 20px 20px;
  }
  .footer__background {
    min-height: 610px;
  }
  .footer__triangle {
    width: 100%;
    min-height: 60%;
  }
  .footer .start-ex, .footer .support, .footer .about-us, .footer .newsletter {
    width: 100%;
    margin-left: 0px;
  }
}

.promotion {
  width: 100%;
  min-height: 1000px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: stretch;
}
.promotion__body {
  width: 62%;
  min-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.promotion__inner {
  width: 51%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.promotion__text p {
  margin-top: 40px;
}
.promotion__sidebar {
  width: 800px;
  min-height: 100%;
  background-color: #f6f5f3;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: unset;
  overflow: hidden;
  position: relative;
}
.promotion__triangle {
  background-color: #ff6d6d;
  width: 100%;
  height: 1100px;
  position: absolute;
  transform: translateX(210px) translateY(550px) rotate(50deg);
  opacity: 0.8;
}
@media screen and (max-device-width: 425px) and (orientation: portrait) {
  .promotion__sidebar {
    display: none;
  }
  .promotion__body {
    width: 100%;
  }
  .promotion__inner {
    width: 80%;
    align-items: center;
  }
  .promotion__text p {
    margin-top: 10px;
  }
}

.features {
  background-color: #f6f5f3;
  min-height: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.features__inner {
  width: 1360px;
  height: 570px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: unset;
}
.features__upper-row {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: center;
  width: 100%;
  height: 50%;
}
.features__bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  height: 50%;
}
.features__column {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-device-width: 425px) and (orientation: portrait) {
  .features .features {
    padding: 0 15px;
  }
  .features .features__upper-row {
    height: auto;
    text-align: center;
  }
  .features .features__bottom-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
  }
  .features .features__column {
    width: 90%;
    height: auto;
  }
  .features .features__inner {
    height: auto;
    align-items: center;
  }
}

.feature-item__icon {
  background-size: cover;
  width: 70px;
  height: 70px;
}
.feature-item__title {
  font-size: 22px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 1px;
  text-align: center;
}
.feature-item__text {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 1px;
  text-align: center;
}

.responsive {
  width: 100%;
  min-height: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
.responsive__inner {
  width: 1600px;
  height: 700px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.responsive__body {
  width: 36%;
  height: 50%;
  margin-left: 7%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: unset;
}
.responsive__background {
  width: 100%;
  min-height: 1000px;
  background-color: #fff;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.responsive__trapeze {
  width: 45%;
  min-height: 1500px;
  background-color: #ff6d6d;
  position: absolute;
  transform: rotate(-34deg) translateX(-240px) translateY(-120px);
  opacity: 0.8;
}
@media screen and (max-device-width: 425px) and (orientation: portrait) {
  .responsive__body {
    width: 90%;
    height: auto;
    margin-left: 0px;
  }
  .responsive__inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .responsive {
    min-height: 700px;
  }
  .responsive__background {
    min-height: 700px;
  }
  .responsive__trapeze {
    min-height: 900px;
  }
}

.laptop {
  width: 47%;
  height: 100%;
  background: url("../images/elements/macbook.png") no-repeat;
  background-size: contain;
  background-position: center center;
}

@media screen and (max-device-width: 425px) and (orientation: portrait) {
  .laptop {
    display: none;
  }
}
.clients {
  width: 100%;
  min-height: 1000px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.clients__background {
  width: 100%;
  min-height: 1000px;
  background-color: #000;
  opacity: 1;
  position: absolute;
  z-index: -1;
}
.clients__polygon-art {
  width: 100%;
  min-height: 1000px;
  background: url("../images/backgrounds/polygon_art.png") repeat-y;
  background-size: contain;
  opacity: 0.8;
}
.clients__inner {
  width: 75%;
  height: 700px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.clients__inner .emblems {
  width: 85%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.clients__inner .emblems__item {
  height: auto;
}
.clients__inner .emblems__item img {
  filter: invert(1) opacity(0.6);
}
.clients__inner .emblems__item img:hover {
  filter: invert(1) opacity(1);
}
@media screen and (max-device-width: 425px) and (orientation: portrait) {
  .clients__inner .emblems {
    display: none;
  }
}
.clients__feedback {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
@media screen and (max-device-width: 425px) and (orientation: portrait) {
  .clients__feedback {
    flex-direction: column;
  }
  .clients__background {
    min-height: 1500px;
  }
  .clients__polygon-art {
    min-height: 1500px;
  }
  .clients__inner {
    height: auto;
  }
  .clients {
    min-height: 1500px;
    align-items: center;
  }
}

.feedback {
  width: 28%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: center;
}
.feedback__title {
  font-size: 22px;
  letter-spacing: 1px;
  line-height: 24px;
  color: #fff;
  font-weight: 500;
  text-align: center;
  margin-top: 30px;
}
.feedback__subtitle {
  font-size: 16px;
  color: #ff6d6d;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
}
.feedback__text {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 26px;
  color: #fff;
  font-style: italic;
  text-align: center;
  margin-top: 40px;
}
@media screen and (max-device-width: 425px) and (orientation: portrait) {
  .feedback {
    width: 100%;
    height: auto;
  }
}

.emblems {
  width: 85%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.emblems__item {
  height: auto;
}
.emblems__item img {
  filter: invert(1) opacity(0.6);
}
.emblems__item img:hover {
  filter: invert(1) opacity(1);
}
@media screen and (max-device-width: 425px) and (orientation: portrait) {
  .emblems {
    display: none;
  }
}

.order {
  width: 100%;
  min-height: 465px;
  background-color: #323969;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.order__inner {
  width: 75%;
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.order__subtitle {
  text-align: center;
}
.order__title {
  text-align: center;
  color: #fff;
}
.order__form {
  width: 100%;
  height: 150px;
}
.order__hint {
  color: rgba(246, 245, 243, 0.6);
}
.order__hint .hint__text {
  font-size: 16px;
  line-height: 75px;
}
.order__hint .hint__text .hint__link {
  color: rgba(246, 245, 243, 0.6);
}
.order__hint .hint__text .hint__link:hover {
  color: #f6f5f3;
}
@media screen and (max-device-width: 425px) and (orientation: portrait) {
  .order {
    height: auto;
    padding: 20px 0px;
  }
  .order__inner {
    height: auto;
  }
  .order__title .title__text {
    font-size: 25px;
  }
  .order__form {
    height: 250px;
  }
  .order__hint .hint__text {
    line-height: 40px;
  }
}

.browser {
  width: 100%;
  min-height: 965px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  background-color: #fff;
}
.browser__inner {
  width: 55%;
  min-height: 965px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.browser__body {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.browser__subtitle, .browser__title, .browser__text {
  text-align: center;
}
.browser__text {
  width: 70%;
  margin-top: 20px;
}
.browser__picture {
  width: 100%;
  height: 50%;
  background: url("../images/elements/Browser.png") no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
@media screen and (max-device-width: 425px) and (orientation: portrait) {
  .browser__picture {
    display: none;
  }
  .browser__body {
    min-height: auto;
  }
  .browser {
    min-height: 700px;
  }
  .browser__inner {
    width: 90%;
    min-height: auto;
    justify-content: center;
  }
}
.browser__window {
  width: 94.4%;
  position: relative;
  left: 0.4%;
  height: 85.5%;
  background-color: #e2e1e2;
}

.pen-holder, .earphones, .coffee-cup {
  position: absolute;
  background-size: cover;
}

.pen-holder {
  background: url("../images/elements/penholder.png") no-repeat;
  width: 300px;
  height: 330px;
  left: 210px;
  top: 30px;
}

.earphones {
  background: url("../images/elements/earphones2.png") no-repeat;
  width: 220px;
  height: 280px;
  right: 250px;
  top: 0px;
}

.coffee-cup {
  background: url("../images/elements/coffeecup2.png") no-repeat;
  width: 240px;
  height: 250px;
  right: 150px;
  bottom: -130px;
}

.picture {
  background: url("../images/elements/picture.svg") no-repeat;
}

.airplane {
  background: url("../images/elements/airplane.svg") no-repeat;
}

.bulb {
  background: url("../images/elements/bulb.svg") no-repeat;
}

@media screen and (max-device-width: 425px) and (orientation: portrait) {
  .pen-holder, .earphones, .coffee-cup {
    display: none;
  }
}
.newsletter__email {
  width: 100%;
  height: 50px;
}
.newsletter__email form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
.newsletter__text-input {
  border-radius: 3px;
  padding: 1% 30px;
  outline: none;
  background-color: #f6f5f3;
  color: #282828;
  width: 290px;
  font-size: 16px;
  font-weight: 400;
  line-height: 75px;
}
.newsletter__text-input::placeholder {
  color: #282828;
  text-transform: uppercase;
}
.newsletter__text-input:focus {
  box-shadow: 0px 0px 10px #f6f5f3;
}
.newsletter__button {
  width: 50px;
  height: 50px;
  position: relative;
}
.newsletter__button::after {
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  -webkit-mask-image: url("../images/elements/plane-arrow.svg");
          mask-image: url("../images/elements/plane-arrow.svg");
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  top: 25%;
  right: 25%;
  position: absolute;
}
@media screen and (max-device-width: 425px) and (orientation: portrait) {
  .newsletter__text-input {
    width: 90%;
  }
}