// цвета страницы

$red: #ff6d6d;
$blue-gray: #8185a3;
$black-gray: #282828;
$light-gray: #ececec;
$white: #fff;

// Подключение файла со шрифтами

@import "fonts/fonts.scss";

// обнуление базовых стилей страницы

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

// блок шапка

@import "header/header.scss";

// блог предложения

@import "promotion/promotion.scss";
