.pen-holder, .earphones, .coffee-cup {
  position: absolute;
  background-size: cover;
}

.pen-holder {
  background: url("../img/features/Penholder.png") no-repeat;
  width: 300px;
  height: 330px;
  left: 210px;
  top: 30px;
}

.earphones {
  background: url("../img/features/Earphones2.png") no-repeat;
  width: 220px;
  height: 280px;
  right: 250px;
  top: 0px;
}

.coffee-cup {
  background: url("../img/features/Coffeecup2.png") no-repeat;
  width: 240px;
  height: 250px;
  right: 150px;
  bottom: -130px;
}