.browser {
  width: 100%;
  min-height: 965px;
  @include display_flex($justify_content: center, $align_items: stretch);
  background-color: $background-main;


  @include phone_layout(425px, portrait) {
    min-height: auto;
    padding: 20px;
  }


  @include tablet_layout(426px, 768px, portrait) {
    min-height: auto;
    padding: {
      top: 20px;
      left: 20px;
      right: 20px;
      bottom: 0px;
    };
  }

  &__inner {
    width: 55%;
    min-height: 965px;
    @include display_flex($flex_direction: column, $justify_content: space-between, $align_items: center);

    @include phone_layout(425px, portrait) {
      width: 90%;
      min-height: auto;
      justify-content: center;
    }

    @include tablet_layout(426px, 768px, portrait) {
      width: 95%;
      min-height: auto;
    }
  }

  &__body {
    width: 100%;
    height: 50%;
    @include display_flex($flex_direction: column, $justify_content: center, $align_items: center);

    @include phone_layout(425px, portrait) {
      height: auto;
    }

    @include tablet_layout(426px, 768px, portrait) {
      height: auto;
    }
  }

  &__subtitle, &__title, &__text {
    text-align: center;
  }

  &__title {

  }

  &__text {
    width: 70%;
    margin-top: 20px;
  }

  &__picture {
    width: 100%;
    height: 50%;
    background: url("../images/elements/Browser.png") no-repeat;
    background-size: cover;
    @include display_flex($justify_content: center, $align_items: flex-end);

    @include phone_layout(425px, portrait) {
      display: none;
    }

    @include tablet_layout(426px, 768px, portrait) {
      height: 300px;
      //width: 90%;
      //position: relative;
      //background-size: contain;
    }
  }

  &__window {
    width: 94.4%;
    position: relative;
    left: 0.4%;
    height: 85.5%;
    background-color: $background-browser;

    @include tablet_layout(426px, 768px, portrait) {

    }
  }
}
