.feature-item {

  @include phone_layout(425px, portrait) {
    margin-top: 6%;
  }

  &__icon {
    background-size: cover;
    width: 70px;
    height: 70px;

    @include tablet_layout(769px, 1024px, portrait) {
      width: 100px;
      height: 100px;
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center;
    }
  }

  &__title {
    font-size: 22px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: 1px;
    text-align: center;

    @include phone_layout(425px, portrait) {
      font-size: 18px;
      line-height: 30px;
    }

    @include tablet_layout(426px, 768px, portrait) {
      line-height: 30px;
    }

    @include tablet_layout(769px, 1024px, portrait) {
      font-size: 30px;
      line-height: 50px;
    }
  }

  &__text {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 1px;
    text-align: center;

    @include phone_layout(425px, portrait) {
        font-size: 16px;
        line-height: 24px;
    }

    @include tablet_layout(769px, 1024px, portrait) {
      font-size: 24px;
      line-height: 34px;
    }
  }


}