.header {
  width: 100%;
  min-height: 965px;
  background: url("../images/backgrounds/mountain.png") no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  @include display_flex($justify_content: center, $align_items: center);

  &__inner {
    width: 745px;
    min-height: 380px;
    @include display_flex($flex_direction: column, $justify_content: start, $align_items: center);
  }

  &__title {
    width: 100%;
  }

  &__text {
    font-size: 60px;
    letter-spacing: 2px;
    line-height: 75px;
    color: $text-main;
    font-weight: 200;
    text-align: center;
    @extend %font-exo;
  }

  &__play {
    margin-top: 65px;
  }

  &__try-button {
    width: 190px;
    height: 50px;
    margin-top: 40px;
    a {
      display: inline-block;
      width: 100%;
      height: 100%;
    }
  }

  &__hint {
    margin-top: 20px;

    & .hint__text {
      font-size: 14px;

      line-height: 16px;
      color: $text-main;
    }
  }
}

@include phone_layout(425px, portrait) {
  .header {
    min-height: 660px;
    background-position: right bottom;
    background-attachment: unset;
    &__inner {
      min-height: 600px;
      justify-content: center;
    }

    &__title {

    }

    &__text {
      font-size: 30px;
      line-height: 35px;
    }

    &__play {

    }

    &__try-button {

    }
  }
}