.laptop {
  width: 47%;
  height: 100%;
  background: url("../images/elements/macbook.png") no-repeat;
  background-size: contain;
  background-position: center center;

  @include phone_layout(425px, portrait) {
    display: none;
  }

  @include tablet_layout(426px, 768px, portrait) {
    width: 40%;
    height: 200px;
  }

  @include tablet_layout(769px, 1024px, portrait) {
    height: 400px;
    width: 35%;
    background-position: center top;
  }
}
