.newsletter {
  &__email {
    width: 100%;
    height: 50px;

    form {
      width: 100%;
      height: 100%;
      @include display_flex($justify_content: space-between, $align_items: stretch);
    }
  }

  &__text-input {
    border-radius: 3px;
    padding: 1% 30px;
    outline: none;
    background-color: $background-secondary;
    color: $text-main;
    width: 290px;
    font-size: 16px;
    font-weight: 400;
    @extend %font-exo;
    line-height: 75px;

    @include phone_layout(425px, portrait) {
      width: 90%;
    }

    &::placeholder {
      color: $text-main;
      text-transform: uppercase;
    }

    &:focus {
      box-shadow: 0px 0px 10px $background-secondary;
    }
  }

  &__button {
    width: 50px;
    height: 50px;
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 22px;
      height: 22px;
      mask-image: url("../images/elements/plane-arrow.svg");
      background-color: $background-main;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      top: 25%;
      right: 25%;
      position: absolute;
    }
  }
}