.order {
  width: 100%;
  min-height: 465px;
  background-color: $background-order;
  @include display_flex($justify_content: center, $align_items: center);

  @include phone_layout(425px, portrait) {
    height: auto;
    padding: 20px 0px;
  }


  @include tablet_layout(426px, 768px, portrait) {
    min-height: auto;
    padding: 20px 0px;
  }

  &__inner {
    width: 75%;
    height: 370px;
    @include display_flex($flex_direction: column, $justify_content: space-between, $align_items: center);

    @include phone_layout(425px, portrait) {
      height: auto;
    }

    @include tablet_layout(426px, 768px, portrait) {
      width: 85%;
      height: 250px;
    }
  }

  &__slogan {

  }

  &__subtitle {
    text-align: center;
  }

  &__title {
    text-align: center;
    color: $text-light;
    @include phone_layout(425px, portrait) {
      & &__text {
        font-size: 25px;
      }
    }
  }

  &__form {
    width: 100%;
    height: 150px;

    @include phone_layout(425px, portrait) {
      height: 250px;
    }

    @include tablet_layout(426px, 768px, portrait) {
      height: auto;
    }
  }


  &__hint {
    color: rgba($text-semi-light, 0.6);

    & .hint__text {
      font-size: 16px;
      line-height: 75px;

      @include phone_layout(425px, portrait) {
        line-height: 20px;
      }

      & .hint__link {
        color: rgba($text-semi-light, 0.6);

        &:hover {
          color: rgba($text-semi-light, 1);
        }
      }
    }
  }
}


