.promotion {
  width: 100%;
  min-height: 1000px;
  background-color: $background-main;
  @include display_flex($justify_content: start, $align_items: stretch);

  @include phone_layout(425px, portrait) {
    padding: 20px 0px;
    min-height: auto;
  }

  @include tablet_layout(426px, 768px, portrait) {
    min-height: auto;
  }

  &__body {
    width: 62%;
    min-height: 100%;
    @include display_flex($justify_content: center, $align_items: center);

    @include phone_layout(425px, portrait) {
      width: 100%;
    }

    @include tablet_layout(426px, 768px, portrait) {
      width: 70%;
      padding: 20px 0px;
    }
  }

  &__inner {
    width: 51%;
    @include display_flex($flex_direction: column, $justify_content: space-between, $align_items: start);

    @include phone_layout(425px, portrait) {
      width: 80%;
      align-items: center;
    }

    @include tablet_layout(426px, 768px, portrait) {
      width: 80%;
    }
  }


  &__title {

  }

  &__text {
    p {
      margin-top: 40px;

      @include phone_layout(425px, portrait) {
        margin-top: 10px;
      }
    }
  }

  &__sidebar {
    width: 800px;
    min-height: 100%;
    background-color: $background-secondary;
    @include display_flex($flex_direction: column, $justify_content: flex-end);
    overflow: hidden;
    position: relative;

    @include phone_layout(425px, portrait) {
      display: none;
    }

    @include tablet_layout(426px, 768px, portrait) {
      width: 30%;
    }
  }

  &__triangle {
    background-color: $background-decor;
    width: 100%;
    height: 1100px;
    position: absolute;
    transform: translateX(210px) translateY(550px) rotate(50deg);
    opacity: 0.8;

    @include tablet_layout(426px, 768px, portrait) {
      right: 0;
      bottom: 0;
      height: 100%;
      transform: translateY(55%) rotate(33deg);
    }
  }
}