.order {
  width: 100%;
  min-height: 465px;
  background-color: $violet;
  @include display_flex($justify_content: center, $align_items: center);

  &__inner {
    width: 75%;
    height: 370px;
    // background-color: $white-gray;

    @include display_flex($flex_direction: column, $justify_content: space-between, $align_items: center);

    @import "slogan.scss";
    @import "form.scss";
    @import "hint.scss";
  }
}

