.hint {
  letter-spacing: 1px;
  font-weight: 400;
  .hint__text {


    @extend %font-exo;
    text-align: center;
  }
}

.header__hint {
  margin-top: 20px;

  & .hint__text {
    font-size: 14px;

    line-height: 16px;
    color: $main-text;
  }
}