.footer {
  width: 100%;
  min-height: 330px;

  @include display_flex($justify_content: flex-start, $align_items: center);

  &__background {
    background-color: $background-main;
    width: 100%;
    min-height: 330px;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  &__triangle {
    width: 550px;
    min-height: 500px;
    background-color: $background-decor;
    position: absolute;
    right: 0;
    opacity: 0.8;
    transform: rotate(38deg) translateY(-360px) translateX(0px);

  }
  &__body {
    width: 63%;
    height: 170px;
    background-color: $background-order;
    z-index: 2;
    margin-left: 12.5%;

    @include display_flex($justify_content: space-between, $align_items: stretch);
    & .start-ex {
      width: 20%;

    }

    & .support {
      width: 15%;
      // margin-left: 65px;
    }
    & .about-us {
      width: 15%;
      //margin-left: 115px;
    }

    & .newsletter {
      width: 25%;
      //margin-left: 95px;
    }
  }

  &__column {
    background-color: $background-secondary;
  }
}