.subtitle {
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 18px;
  color: $text-subtitle;
  @extend %font-exo;
  font-weight: 500;
  text-transform: uppercase;

  .subtitle__text {

  }

  @include phone_layout(425px, portrait) {
    & {
      text-align: center;
      font-size: 14px;
      line-height: 16px;
    }
  }
}