.subtitle {
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 18px;
  color: $text-subtitle;
  @extend %font-exo;
  font-weight: 500;
  text-transform: uppercase;

  @include phone_layout(425px, portrait) {
    text-align: center;
    font-size: 16px;
    line-height: 20px;
  }


  @include tablet_layout(769px, 1024px, portrait) {
    font-size: 20px;
    line-height: 24px;
  }

  .subtitle__text {

  }

}