.text {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 26px;
  color: $text-main;
  @extend %font-exo;
  font-weight: 500;

  @include tablet_layout(769px, 1024px, portrait) {
    font-size: 24px;
    line-height: 34px;
  }
}
