.title {
  color: $text-main;
  @extend %font-exo;
  .title__text {
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: 2px;
    span {
      color: $text-subtitle;
    }
  }
  @include phone_layout(425px, portrait) {
    & {
      text-align: center;
    }

    & &__text {
      font-size: 20px;
      line-height: 25px;
    }
  }
}