.browser__body {
  width: 100%;
  height: 50%;
  // background-color: $blue-gray;

  @include display_flex($flex_direction: column, $justify_content: center, $align_items: center);
  .browser__subtitle, .browser__title, .browser__text {
    text-align: center;
  }

  .browser__title {

  }

  .browser__text {
    width: 70%;
    margin-top: 20px;
  }
}