.browser {
  width: 100%;
  min-height: 965px;
  @include display_flex($justify_content: center, $align_items: stretch);
  background-color: $background-secondary;


  .browser__inner {
    width: 55%;
    min-height: 965px;
    // background-color: $blue-gray;
    @include display_flex($flex_direction: column, $justify_content: space-between, $align_items: center);

    @import "body.scss";
    @import "picture.scss";
  }

}