.browser__picture {
  width: 100%;
  height: 50%;
  //background-color: $black-gray;
  background: url("../img/browser/browser.png") no-repeat;
  background-size: cover;
  @include display_flex($justify_content: center, $align_items: flex-end);


  .browser__window {
    width: 94.4%;
    position: relative;
    left: 0.4%;
    height: 85.5%;
    background-color: $browser-gray;
  }
}