.laptop {
  width: 47%;
  height: 100%;
  //background-color: $light-gray;
  background: url("../img/responsive/macbook.png") no-repeat;
  background-size: contain;
  background-position: center center;
}
