.responsive {
  width: 100%;
  min-height: 1000px;
  @include display_flex($justify_content: center, $align_items: center);
  position: relative;
}

@import "trapeze.scss";

.responsive__wrapper {
  width: 1600px;
  height: 700px;
  @include display_flex($justify_content: start, $align_items: center);
}

@import "laptop.scss";
@import "body.scss";
