.responsive {
  width: 100%;
  min-height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@import "trapeze.scss";

.responsive__wrapper {
  width: 1600px;
  height: 700px;
  background-color: $blue-gray;
}
