.background {
  width: 100%;
  min-height: 1000px;
  background-color: $white;
  overflow: hidden;
  position: absolute;
  z-index: -1;

  .trapeze {
    width: 45%;
    min-height: 1500px;
    background-color: $red;
    position: absolute;
    transform: rotate(-34deg) translateX(-240px) translateY(-120px);
  }
}