// цвета страницы
// background colors
$background-main: #fff;
$background-secondary: #f6f5f3;
$background-order: #323969;
$background-order-input: #464c77;
$background-decor: #ff6d6d;
$background-decor-secondary: #ececec;
// text colors
$text-main: #282828;
$text-subtitle: #ff6d6d;
$text-light: #fff;
$text-semi-light: #f6f5f3;
// custom additional colors
$background-button-play: #8185a3;
$background-browser: #e2e1e2;
