.promotion__body {
  width: 1200px;
  min-height: 100%;
  @include display_flex($justify_content: center, $align_items: center);

  .promotion__wrapper {
    // margin-left: 150px;
    width: 600px;
    // height: 500px;
    // background-color: $blue-gray;
    @include display_flex($flex_direction: column, $justify_content: space-between, $align_items: start);
  }
}

@import "subtitle.scss";
@import "title.scss";
@import "text.scss";
