.promotion {
  width: 100%;
  min-height: 1000px;
  background-color: $background-main;
  @include display_flex($justify_content: start, $align_items: stretch);
}

@import "body.scss";
@import "sidebar.scss";