.title {

  color: $main-text;
  @extend %font-exo;
  .title__text {
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: 2px;

    span {
      color: $decor;
    }
  }

}

.promotion__title {

}